// Variables
$website-width: 1280px;
$main-color: #eabe43;
$complementary_color: #9a4182; 
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/my_pic_2.jpeg');
$bg-banner: url('../img/banner_image.png');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
